<%- include('../partials/header.ejs') %>

<%- include('../partials/preheader.ejs', {preheader: "Your COVID Test already schedule"}) %>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
	<tr>
		<td>
			&nbsp;</td>
		<td class="container">
			<div class="content">

				<%- include('../partials/logo.ejs') %>

				<!-- START CENTERED WHITE CONTAINER -->
				<table role="presentation" class="main" id="content">

					<!-- START MAIN CONTENT AREA -->
					<tr>
						<td class="wrapper">
							<table role="presentation" id="subtable" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<p>Hi <%= name %>,</p>
										<p>Your test is schedule for <%= date %> .</p>
										<p>For further information please contact <a href="tel:808300201">808 300
												201</a>.
											or visit our website to request your <strong>patient data</strong> (link
											below).</p>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0"
											class="btn btn-primary">
											<tbody>
												<tr>
													<td align="left">
														<table role="presentation" border="0" cellpadding="0"
															cellspacing="0">
															<tbody>
																<tr>
																	<td>
																		<a href="http://localhost:4200" target="_blank">
																			Visit
																		</a>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<!-- END MAIN CONTENT AREA -->
				</table>
				<!-- END CENTERED WHITE CONTAINER -->
				<!-- START FOOTER -->
				<%- include('../partials/copyright.ejs') %>
				<!-- END FOOTER -->

			</div>
		</td>
		<td>&nbsp;</td>
	</tr>
</table>

<%- include('../partials/footer.ejs') %>