<%- include('../partials/header.ejs') %>

<%- include('../partials/preheader.ejs', {preheader: "You recently requested to reset your password. Please see the instructions on email"}) %>

<table cellpadding=" 0" cellspacing="0" width="100%">
	<tr class="wrap">
		<td align="center" class="bg-page">
			<table cellpadding=" 0" cellspacing="0" width="100%">
				<tr class="wrap">
					<td class="logo-td">
						<img src="https://i.ibb.co/9vXvvQm/logo.png" class="logo" alt="Logo" />
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr class="wrap mb-20px">
		<td align="center" class="bg-page">
			<table class="table-layout table-size ptb-20px">
				<%- include('../partials/title.ejs', {title: "Reset Password"}) %>

				<tr class="wrap">
					<td class="bg-white text-style">
						<p style="margin: 0;">
							<span class="text-bold">Note:</span>
							If you did not request this, please ignore this email and your password will remain
							unchanged
						</p>
						<p style="margin: 0;">
							Tap the button below to reset your user account password.
						</p>
					</td>
				</tr>
				<tr>

					<td class="bg-white" id="td-button">
						<a href="<%= link %>" target="_blank" id="button">Change
							Password</a>
					</td>
				</tr>
				<tr>
					<td class="bg-white text-style">
						<p>
							If that doesn't work, copy and paste the following link in your browser:
						</p>
						<p>
							<a href="<%= link %>" target="_blank">
								<%= link %>
							</a>
						</p>
						<p>
							<small><span class="text-bold">Note:</span> this token expires on 5 minutes!</small>
						</p>
					</td>
				</tr>
				<%- include('../partials/congrats.ejs') %>
			</table>
		</td>
	</tr>

</table>

<%- include('../partials/footer.ejs') %>