<!DOCTYPE html>
<html>

<%- include('../partials/preheader.ejs', {preheader: "You recently requested to reset your password. Please see the instructions on email"}) %>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
	<tr>
		<td>
			&nbsp;</td>
		<td class="container">
			<div class="content">

				<div class="header">
					<table role="presentation" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td class="content-block powered-by">
								<img src="https://i.ibb.co/9vXvvQm/logo.png" width="100px" alt="Logo">
							</td>
						</tr>
					</table>
				</div>

				<!-- START CENTERED WHITE CONTAINER -->
				<table role="presentation" class="main" id="content">

					<!-- START MAIN CONTENT AREA -->
					<tr>
						<td class="wrapper">
							<table role="presentation" id="subtable" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<p>Hi,</p>
										<p>You recently requested to reset your password, if you want proceed click on
											button bellow to change your password</p>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0"
											class="btn btn-primary">
											<tbody>
												<tr>
													<td align="left">
														<table role="presentation" border="0" cellpadding="0"
															cellspacing="0">
															<tbody>
																<tr>
																	<td>
																		<a href="<%= link %>" target="_blank">
																			Reset Password
																		</a>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
										<p>
											If that doesn't work, copy and paste the following link in your browser:
										</p>
										<p>
											<a href="<%= link %>"><%= link %></a>
										</p>

										<p>
											If you <strong>not request this reset password</strong>, please ignore this
											email and your password remain without changes
										</p>

										<p>
											<strong>Note:</strong>
											If you want proceed, realize this action fast, because the toke expire in 5
											minutes.
										</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<!-- END MAIN CONTENT AREA -->
				</table>
				<!-- END CENTERED WHITE CONTAINER -->
				<!-- START FOOTER -->
				<%- include('../partials/copyright.ejs') %>
				<!-- END FOOTER -->

			</div>
		</td>
		<td>&nbsp;</td>
	</tr>
</table>

						<tr class="wrap">
							<td align="left" class="bg-white text-style">
								<p style="margin: 0;">If that doesn't work, copy and paste the following link in your
									browser:</p>
								<p style="margin: 0;">
									<a href="<%= link %>" target="_blank"><%= link %></a>
								</p>
							</td>
						</tr>

						<tr class="wrap">
							<td class="bg-white text-style">
								<p style="margin: 0;">
									<i>Best regards</i>,<br />
									<strong>COVID Tracking System</strong>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>

</html>