<%- include('../partials/header' %>

<!-- start preheader -->
<div class="preheader">
	Reset Password
</div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr class="wrap">
		<td align="center" class="bg-page">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 50%;">
				<tr class="wrap">
					<td align="center" valign="top">

						<img src="https://i.ibb.co/9vXvvQm/logo.png" class="logo" alt="Logo" />
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="wrap">
		<td align="center" class="bg-page">
			<table id="body-table" cellpadding="0" cellspacing="0" width="100%">
				<tr class="wrap">
					<td align="left" class="bg-white" id="title-td">
						<h1 id="title">Reset Your Password</h1>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="wrap">
		<td align="center" class="bg-page">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" class="table-layout table-size ptb-20px">
				<tr class="wrap">
					<td align="left" class="bg-white"
						style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
						<p style="margin: 0;">Tap the button below to reset your customer account password. If you
							didn't request a new password, you can safely delete this email.</p>
					</td>
				</tr>

				<tr class="wrap">
					<td align="left" class="bg-white">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr class="wrap">
								<td align="center" class="bg-white" style="padding: 12px;">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr class="wrap">
											<td align="center" bgcolor="#1a82e2" style="border-radius: 6px;">
												<a href="<%= link %>" target="_blank" id="button">Change
													Password</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="wrap">
					<td align="left" class="bg-white"
						style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
						<p style="margin: 0;">If that doesn't work, copy and paste the following link in your
							browser:</p>
						<p style="margin: 0;"><a href="<%= link %>" target="_blank"><%= link %></a></p>
					</td>
				</tr>

				<tr class="wrap">
					<td align="left" class="bg-white" id="congrats">
						<p style="margin: 0;">Cheers,<br> Paste</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<%- include('../partials/footer' %>